* {
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  color: rgb(24, 24, 24);
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

ul {
  list-style: none;
}

ul li a {
  color: black;
}

.accent-title {
  font-size: 16px;
  font-weight: 600;
  color: #FFA800;
}

.flow-text-desc {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}

nav {
  display: flex;
  justify-content: space-between;
  max-height: 88px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 254, 252);
  border-bottom: 1px solid rgba(43, 43, 43, 0.3);
  box-shadow: 0 5px 0 0 5px grey;
  color: black;
  z-index: 10;

}

.button {
  background-color: #3056E0;
  border: 2px solid #3056E0;
  border-radius: 5px;
  padding: 15px 20px;
  color: #ffffff;
  max-width: 58px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0,3px;
}

nav .nav-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

nav .logo-brand {
  width: 170px;
  height: 54px;
}

nav .menu-nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 400;
  font-size: 16px;
  color: black;
  gap: 20px;
  padding: 10px 0;
  flex-basis: 60%;
}

nav .button-menu {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: flex-start;
  flex-basis: 70%;
}

nav .button-menu li a:hover {
  color: #3056E0;
  font-weight: 500;
}

nav .button-auth {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  gap: 10px;
  flex-basis: 30%;
  font-weight: 500;
}

nav .button-auth .active {
  background-color: #3056E0;
  border: 2px solid #3056E0;
  border-radius: 5px;
  padding: 10px 20px;
  color: #ffffff;
}

nav .button-auth .deactive {
  background-color: #ffffff;
  border: 2px solid #3056E0;
  color: #3056E0;
  border-radius: 5px;
  padding: 10px 20px;
}

nav .button-auth li a:hover {
  color: #ffffff;
  background-color: #3056E0;
}

/* End of navbar section */

/* Hero section */

.hero {
  display: flex;
  justify-content: space-between;
  padding-top: 88px;
  height: 100%;
}

.hero .text-content {
  flex-basis: 40%;
  margin-top: 5vh;
  padding: 20px;
  }

.text-content .headline {
  padding: 10px 0;
  font-size: 44px;
  font-weight: 600;
}

.text-content .tagline {
  padding: 5px auto;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0,1pt;
  line-height: 150%;
}

.hero .button-hero {
  background-color: #3056E0;
  border: 2px solid #3056E0;
  border-radius: 5px;
  padding: 15px 20px;
  margin-top: 50px;
  color: #ffffff;
  max-width: 195px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0,3px;
  font-weight: 500;
}

.hero .button-hero:hover {
  background-color: transparent;
  border: 2px solid #3056E0;
  border-radius: 5px;
  padding: 15px 20px;
  color: #3056E0;
  cursor: pointer;
  font-weight: 600;
}

.hero .img-hero {
  flex-basis: 60%;
}

.img-hero .img-1 {
  max-width: 850px;
  width: 100%;
  height: auto;
  right: 0;
}

/* End of hero section */

.flow-section {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.flow-section .accent-title {
  font-size: 16px;
  font-weight: 600;
  color: #FFA800;
}

.flow-section .section-title {
  font-size: 36px;
  font-weight: 500;
  color: #102160;
  text-align: center;
  font-weight: 500;
}

.flow-progen {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.bg-flow {
  position: relative;
  left: 10%;
  z-index: 2;
  
}

/* .icon-flow {
  position: absolute;
  left: 15%;
  bottom: 25%;
  z-index: 3;
} */

.bg-flow ul {
  display: flex;
  justify-content: space-between;
  font-size: 193px;
  column-gap: 130px;
  font-weight: 700;
  color: rgb(187, 187, 255, 0.3);
  padding-top: 10px;
}

.bg-flow ul li {
  padding-right: 40px;
}

/* .icon-flow ul {
  display: flex;
  justify-content: flex-start;
  column-gap: 200px;
  padding-top: 10px;
} */

.flow-content {
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: absolute;
  top: 30%;
  column-gap: 90px;
  z-index: 5;
}

.flow-content .icn-flow {
  object-fit: cover;
  width: 79px;
  height: auto;
}

.flow-content .content .icn-flow {
  margin-bottom: 15px;
}

.flow-content .content .flow-text-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.flow-content .content .flow-text-desc {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}

/* .flow-title {
  display: flex;
  justify-content: space-around;
  gap: 100px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.flow-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.flow-desc p {
  max-width: 250px;
  width: 100%;
  gap: 200px;
}

.flow-desc-item:nth-of-type(1) {
  flex-grow: 1;
}
.flow-desc-item:nth-of-type(2) {
  flex-grow: 1;
}
.flow-desc-item:nth-of-type(3) {
  flex-grow: 1;
}
.flow-desc-item:nth-of-type(4) {
  flex-grow: 1;
} */

/* End of Flow Section */

/* Feature Section */

.feature-section {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  padding: 2rem;
}

.feature-section .feature-text {
  padding-top: 5%;
}

.feature-section .feature-title {
  color: #102160;
  font-size: 36px;
  font-weight: 600;
  margin-top: 3%;
}

.feature-section .feature-text .flow-text-desc{
  max-width: 600px;
  width: 100%;
}

.feature-section .img-feature {
  object-fit: cover;
  max-width: 336px;
  width: 100%;
  height: auto;
}